.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --font-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: #212121;
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

input,
textarea {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  resize: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

input {
  padding: 0;
}

.modal__div input {
  padding-left: 42px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer .container {
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

@media (min-width: 468px) and (max-width: 767px) {
  .container .container {
    justify-content: space-between;
    text-align: center;
  }
  .header .container {
    height: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container .container {
    min-width: 768px;
    text-align: center;
  }
  .header .container {
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .footer__section {
    padding-bottom: 60px;
  }
}

.logo {
  font-family: var(--secondary-font);
  color: #212121;
  justify-content: center;
  font-size: 24px;
}

.logo__color {
  color: #2196f3;
}

.footer__logo {
  font-family: var(--secondary-font);
  margin-top: 60px;
  color: #ffffff;
  padding-bottom: 20px;
  display: flex;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 93px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-hamburger {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-hamburger {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navHamburger__item {
  margin-bottom: 34px;
}

.navHamburger__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172em;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navHamburger__link-active {
  color: #2196f3;
}

.navHamburger__link:hover, .navHamburger__link:focus {
  color: #2196f3;
}

.navHamburger__link--active {
  color: #2196f3;
}

.addressHamburger__item {
  margin-bottom: 32px;
}

.addressHamburger__item:last-child {
  margin-bottom: 64px;
}

.addressHamburger__phoneNumber {
  font-size: 34px;
  font-style: normal;
  color: #2196f3;
  font-weight: 500;
  line-height: 1.174;
  letter-spacing: 0.02em;
  text-align: left;
}

.addressHamburger__mail {
  color: #757575;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

.socialHamburger__list {
  display: flex;
  justify-content: space-between;
}

.socialHamburger__link {
  color: #2196f3;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.222;
  letter-spacing: 0.02em;
  text-align: left;
}

.icon-close-btn-mobile {
  width: 17px;
  height: 27px;
}

.hamburger {
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.hamburger:hover, .hamburger:focus {
  fill: var(--secondary-color);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__icon {
  width: 24px;
  height: 16px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 450px;
  max-height: 609px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.04em;
}

.close-icon {
  width: 11px;
  height: 11px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__div {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;
}

.modal__div:focus-within .modal__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 14px;
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.modal__input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  color: #212121;
}

.modal__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__divTextarea {
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal__formPolicyText {
  cursor: pointer;
}

.modal__formPolicyText::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__formPolicy:checked + .modal__formPolicyText::before {
  background: #2196f3;
  border-radius: 2px;
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal__policy {
  margin-bottom: 20px;
}

.modal__margin,
.modal__policyText,
.modal__textLink {
  width: 395px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.modal__margin,
.modal__policyText {
  color: #757575;
}

.modal__margin {
  margin-left: 8px;
}

.modal__textLink {
  color: #2196f3;
  text-decoration: underline;
}

.secondary-header {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .secondary-header {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.staff__socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.staff__socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.staff__socialLink:hover, .staff__socialLink:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.staff__socialIcon {
  width: 20px;
  height: 20px;
}

.staff__socialLink {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socialList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socialLink:hover, .footer__socialLink:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer__socialIcon {
  width: 20px;
  height: 20px;
}

.footer__socialItem:not(:last-child) {
  margin-right: 10px;
}

.third-header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}

.project__third-header {
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.model-btn,
.model-btn-newsletter {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  color: #ffffff;
  font-family: var(--font-family);
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  justify-content: center;
}

.model-btn {
  display: block;
  margin-top: 20px;
}

.model-btn-newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
}

@media (min-width: 468px) and (max-width: 768px) {
  .model-btn-newsletter {
    margin-top: 30px;
  }
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .model-btn-newsletter {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .model-btn.model-btn-newsletter {
    margin: 0 0 0 10px;
  }
}

.portfolio__btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin: 0 auto;
  display: block;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.button_1,
.button_5 {
  width: 121px;
  height: 38px;
}

.button_2 {
  width: 93px;
  height: 38px;
  margin-right: 8px;
}

.button_3 {
  width: 114px;
  height: 38px;
}

.button_4 {
  width: 91px;
  height: 38px;
}

.project__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  position: relative;
  max-width: 370px;
  border: 1px solid #eeeeee;
  height: auto;
  background-color: #ffffff;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover, .project__item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}

.project__staff-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.project__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project__img:hover .project__overlay {
  transform: translatey(-100%);
}

@media (min-width: 468px) and (max-width: 767px) {
  .project__item {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  background: #2f303a;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__address,
.footer__mail {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.footer__mail,
.footer__phoneNumber {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.footer__h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  padding-bottom: 20px;
}

.footer__newsletterWindow {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  padding-left: 16px;
}

.footer__newsletterWindow:focus {
  border-color: #2196f3;
}

.footer__newsletterIcon {
  width: 24px;
  height: 24px;
}

@media (min-width: 468px) and (max-width: 768px) {
  .footer__address, .footer__mail, .footer__item, .footer__h4 {
    text-align: center;
  }
  .newsletter {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__newsletterWindow {
    width: 60%;
    display: inline-block;
  }
  .newsletter {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer__form {
    display: flex;
  }
  .footer__container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .footer__newsletterWindow {
    width: 358px;
    margin-right: 12px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__h4 {
    padding-top: 12px;
    text-align: left;
  }
  .footer__right {
    margin-left: 70px;
  }
  .footer__newsletterLabel {
    display: flex;
  }
  .newsletter {
    margin-left: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.address__iconEnvelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.address__iconSmartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.address {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link::after {
  position: absolute;
  content: "";
  display: block;
  top: 45px;
  right: 0;
  width: 0;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after {
  width: 100%;
  background-color: #2196f3;
}

.footer-mail,
.footer-phone-number {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus,
.footer-phone-number:hover,
.footer-phone-number:focus {
  color: #2196f3;
}

.navigation__link-active {
  width: 100%;
  color: #2196f3;
}

.navigation__link-active::after {
  content: "";
  width: 53px;
  height: 4px;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.address {
  font-style: normal;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.address__mail,
.address__phoneNumber {
  color: #757575;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail:hover, .address__mail:focus,
.address__phoneNumber:hover,
.address__phoneNumber:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media (min-width: 468px) {
  .navigation__list {
    display: none;
  }
  .address {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__list {
    display: flex;
  }
  .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hamburger {
    display: none;
  }
  .navigation__link-active::after {
    top: 35px;
  }
  .navigation__link::after {
    top: 35px;
  }
}

@media (min-width: 1200px) {
  .navigation__list {
    display: flex;
  }
  .address {
    display: flex;
  }
  .header .address {
    margin-left: auto;
  }
  .header .address .hamburger {
    display: none;
  }
  .header .address .address__mail {
    margin-right: 50px;
  }
}

.customer__link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.customer__list {
  display: flex;
  justify-content: center;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.customer__item {
  padding: 0 15px 30px;
  flex-grow: 1;
}

.customer__icon {
  padding: 15px;
  width: 170px;
  height: 92px;
}

@media (min-width: 768px) {
  .customer__item {
    width: 33%;
    flex-grow: 0;
  }
}

@media (min-width: 1200px) {
  .customer__list {
    flex-wrap: nowrap;
  }
}

.button {
  background-image: linear-gradient(rgba(46, 47, 59, 0.4), rgba(46, 47, 59, 0.4)), url("../images/background-mobile.jpg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .button {
    background-image: linear-gradient(rgba(46, 47, 59, 0.4), rgba(46, 47, 59, 0.4)), url("../images/background-mobile-2x.jpg");
  }
}

.button__content h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  max-width: 365px;
  max-height: 84px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .button {
    background-image: linear-gradient(rgba(46, 47, 59, 0.4), rgba(46, 47, 59, 0.4)), url("../images/background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .button {
    background-image: linear-gradient(rgba(46, 47, 59, 0.4), rgba(46, 47, 59, 0.4)), url("../images/background-tablet-2x.jpg");
  }
}

@media (min-width: 1200px) {
  .button {
    background-image: linear-gradient(rgba(46, 47, 59, 0.4), rgba(46, 47, 59, 0.4)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .button {
    background-image: linear-gradient(rgba(46, 47, 59, 0.4), rgba(46, 47, 59, 0.4)), url("../images/background2x.jpg");
  }
}

@media (min-width: 1200px) {
  .button__content h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    max-width: 696px;
    max-height: 120px;
    left: 452px;
    top: 280px;
    margin-right: auto;
    margin-left: auto;
  }
}

.advantages__link {
  display: flex;
  justify-content: center;
}

.advantages__icon {
  width: 100%;
  padding: 0 0;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__Loremh4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.advantages {
  margin-top: 60px;
}

.advantages__Loremp {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 0;
  padding-bottom: 30px;
  text-align: left;
}

@media screen and (min-width: 468px) and (max-width: 768px) {
  .advantages__Loremh4 {
    padding-top: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages__Loremitem {
    margin-bottom: 0px;
    width: 354px;
  }
  .advantages__Loremlist {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .advantages__Loremh4 {
    padding-top: 30px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .advantages__Loremh4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .advantages__Loremp {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .advantages__Loremlist {
    display: flex;
    align-items: center;
  }
  .advantages {
    padding-top: 94px;
    margin: 0;
  }
  .advantages__Loremitem {
    top: 774px;
  }
  .advantages__Loremitem:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .advantages_link {
    fill: #afb1b8;
  }
  .advantages__icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
}

.staff__p {
  text-align: center;
  color: #757575;
  margin: 10px 0;
}

.staff {
  background-color: #f5f4fa;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff__img {
  width: 100%;
  height: auto;
}

.staff__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 468px) and (max-width: 767px) {
  .staff__item:not(:last-child) {
    margin: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .staff__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .staff__item {
    max-width: 354px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .staff__img {
    width: 270px;
    height: auto;
  }
}

@media (min-width: 468px) and (max-width: 1199px) {
  .WhatWeDo {
    display: none;
  }
}

.WhatWeDo .secondary-header {
  margin-bottom: 50px;
  margin-top: 0;
}

.WhatWeDo__list {
  display: flex;
  justify-content: space-between;
}

.WhatWeDo__item {
  position: relative;
}

.WhatWeDo__h4 {
  position: absolute;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: #2f303a;
}

.portfolio {
  padding-top: 94px;
}

.portfolio__list {
  display: flex;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media (min-width: 468px) {
  .portfolio {
    padding-top: 60px;
  }
  .portfolio__list {
    flex-wrap: wrap;
  }
  .portfolio__item {
    margin-bottom: 15px;
  }
}

@media (min-width: 786px) {
  .portfolio__list {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .portfolio__list {
    align-items: center;
  }
}

.project {
  padding-top: 50px;
  padding-bottom: 94px;
}

.project__box {
  position: relative;
  max-width: 370px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.project__box:hover .project__overlay {
  transform: translatey(0);
}

.project__overlay-p {
  height: 196px;
  width: 301px;
  margin-top: 49px;
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;
  background-color: rgba(33, 150, 243, 0.9);
}

@media (min-width: 468px) {
  .project {
    padding-top: 25px;
  }
}
/*# sourceMappingURL=main.css.map */