a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contac__mail:hover,
.contac__mail:focus,
.contac__phone-number:hover,
.contac__phone-number:focus,
.navigatio__list-link:hover,
.navigatio__list-link:focus,
.foote__phone-number:hover,
.foote__phone-number:focus,
.foote__mailto:hover,
.foote__mailto:focus,
.foote__address:hover,
.foote__address:focus,
.navigatio__list-link:focus,
.navigatio__list-link:hover {
  color: var(--main-color);
}

.secondary__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--family-color);
}

.third__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-family);
}

/*------HEDER------*/
.header {
  border-bottom: 1px solid var(--border-color);
}

.header svg {
  margin-right: 10px;
}

.header,
.contact {
  margin-left: auto;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigation__logo {
  margin-right: 193px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--family-color);
  font-family: var(--main-font);
}

.navigation__logo-color {
  color: var(--main-color);
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list-item {
  position: relative;
}

.navigation__list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation__list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--family-color);
}

.activ__link::after {
  content: "";
  display: block;
  height: 4px;
  width: 58px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 47px;
  background-color: var(--main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.num__email:hover,
.num__email:focus {
  fill: var(--main-color);
  color: var(--main-color);
}

.contact__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.contact__list-phone-number {
  align-items: center;
  justify-items: center;
  color: #757575;
}

.contact__list-phone-number::before {
  content: "";
  display: flex;
  align-items: center;
}

.contact__list-mail {
  margin-right: 30px;
  align-items: center;
  justify-items: center;
  color: #757575;
}

.contact__list-mail::before {
  content: "";
  display: flex;
  align-items: center;
}

.navigation__list-link,
.contact__list-phon-icon,
.contact__list-mail,
.contact__list-phon-number,
.contact__list-phon-icon {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*------END-HEDER------*/
/*--BUTTON--*/
.button {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  max-width: 1600px;
  height: 37.5rem;
  position: relative;
}

.button__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button__tekst {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 40rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: var(--gap-30);
}

.main__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: var(--main-font);
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button:hover, .main__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------END-BUTTON------*/
/*---MODAL-WINDOWE---*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(1, 19, 1, 0.5);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close__button {
  position: absolute;
  right: -2px;
  top: 8px;
  background-color: var(--white-color);
  cursor: pointer;
  border: hidden;
}

input,
textarea {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  resize: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.modalform {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modalform__div input {
  padding-left: 42px;
}

.modalform__h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modalform__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modalform__div {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;
}

.modalform__div:focus-within {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.modalform__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  fill: var(--main-color);
  border-color: var(--main-color);
}

.modalform__icon-phone {
  width: 13px;
  height: 13px;
}

.modalform__icon-mail {
  width: 15px;
  height: 12px;
}

.modalform__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--family-color);
}

.modalform__input:focus {
  border-color: var(--main-color);
  outline: none;
}

.modalform__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  color: var(--family-color);
}

.modalform__textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.modalform__divTextarea {
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal__formPolicyText {
  cursor: pointer;
}

.modal__formPolicyText::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--family-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__formPolicyText:checked {
  background: var(--main-color);
  border-radius: 2px;
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal__formPolicyText::before {
  background: var(--main-color);
  border-radius: 2px;
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal__policy {
  margin-bottom: 20px;
}

.modal__margin,
.modal__policyText,
.modal__textLink {
  width: 395px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.modal__margin,
.modal__policyText {
  color: var(--gray-color);
}

.modal__margin {
  margin-left: 8px;
}

.modal__textLink {
  color: var(--main-color);
  text-decoration: underline;
}

.model__btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: var(--main-font);
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*--HERO--*/
.nav__adv {
  padding-top: 94px;
  margin: 0;
}

.nav__adv-list {
  display: flex;
  justify-content: space-between;
}

.nav__adv-item {
  top: 774px;
}

.nav__adv-item:not(:last-child) {
  margin-right: 30px;
  top: 93px;
}

.nav__adv-iconbox {
  width: 270px;
  height: 120px;
  background-color: var(--creamy-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__adv-iconbox:hover, .nav__adv-iconbox:focus {
  fill: var(--main-color);
}

.nav__adv-icon {
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.nav__adv-h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--family-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.nav__adv-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*--END-HERO--*/
/*--OUR-TEAM--*/
.staff {
  background: var(--creamy-color);
}

.staff__list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.staff__item {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  height: 428px;
  width: 270px;
  background: var(--white-color);
}

.staff .secendary__header {
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.third__header {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.staff__p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.staff__list {
  margin-right: 32px;
  margin-left: 32px;
}

.social__links-itemsvg {
  fill: var(--fill-color);
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__links-itemsvg:hover, .social__links-itemsvg:focus {
  background-color: var(--main-color);
  fill: var(--white-color);
}

.social__icon {
  width: 20px;
  height: 20px;
}

/*--WHAT-WE-DO--*/
.what__section {
  padding-bottom: 94px;
}

.what .secondary__header {
  margin-bottom: 50px;
}

.what__list {
  display: flex;
  justify-content: space-between;
}

.what__item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  position: relative;
  width: 370px;
  height: 294px;
}

.what__box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.what__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
}

/*--END-WHAT-WE-DO--*/
/*--CUSTOMERS--*/
.customers__list {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.customers__list-item {
  fill: var(--fill-color);
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__list-item:hover, .customers__list-item:focus {
  fill: var(--main-color);
  border: 1px solid var(--main-color);
}

.customers__list-icon {
  width: 106px;
  height: 60.04px;
  margin: 16px 32px;
}

/*--END--CUSTOMERS--*/
/*--PORTFOLIO-PROJECT--*/
.portfolio {
  padding-bottom: 94px;
}

.portfolio__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.portfolio__list-item {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__description {
  position: absolute;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: left;
  top: 49px;
  left: 24px;
  width: 301px;
  margin: 0;
}

.portfolio__description {
  background: var(--white-color);
  border: 1px solid var(--border-color-port);
}

.portfolio__description h3 {
  width: 322px;
  height: 36px;
  margin: 20px 24px 4px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--family-color);
}

.portfolio__description p {
  margin: 0px 24px 20px 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.portfolio__list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
  top: 0%;
  left: 0%;
  margin: 0px;
  background: var(--white-color);
  border: 1px solid var(--border-color-port);
}

.project__list-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__link::after {
  content: "";
  display: block;
  height: 4px;
  width: 58px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 47px;
  background-color: var(--main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--END-PORTFOLIO-PROJECT--*/
/*--PORTFOLIO-BUTTONS--*/
.buttons__porfolio-item:not(:last-child) {
  margin-right: 8px;
}

.buttons__porfolio-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.modal__btn-portfolio {
  margin: 0 auto;
  display: block;
  width: 93px;
  height: 38px;
  background: var(--creamy-color);
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-portfolio:hover, .modal__btn-portfolio:focus {
  background: var(--main-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/*--END-PORTFOLIO-BUTTONS--*/
/*--FOOTER--*/
.footer {
  background: var(--graphite-color);
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer__mailto, .footer__phone-number, .footer__address-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__left {
  margin-right: 70px;
}

.navigation__logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-top: 60px;
}

.footer__address-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

/*--FOOTER-RIGHT--*/
.footer__links-title {
  font-weight: bold;
  font-size: 14px;
  color: var(--white-color);
}

.footer__links-item-svg {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__links-item-svg:hover, .footer__links-item-svg:focus {
  fill: var(--white-color);
  background-color: var(--main-color);
}

.footer__links {
  width: 206px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0px;
}

.footer__links-icon {
  width: 20px;
  height: 20px;
}

/*-- NEWSLETTER--*/
.footer__newsletter {
  margin-left: 78px;
}

.footer__newsletter-h4 {
  margin-top: -10px;
  position: absolute;
  width: 207px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__newsletter-Label {
  display: flex;
  margin-bottom: 8px;
  margin-top: 20px;
}

.footer__newsletter-Window {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  padding-left: 16px;
  border-color: var(--main-color);
}

.footer__newsletter-modal-bnt {
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  font-family: var(--font-family);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer__newsletter-Icon {
  margin-left: 24px;
  width: 24px;
  height: 24px;
}

input,
textarea {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  resize: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*--END-FOOTER--*/
:root {
  --font-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --family-color: #212121;
  --gray-color: #757575;
  --white-color: #FFFFFF;
  --creamy-color: #F5F4FA;
  --graphite-color: #2f303a;
  --border-color: #ececec;
  --border-color-port: #eeeeee;
  --fill-color: #afb1b8;
}

body {
  font-family: var(--font-family);
  color: var(--family-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin-left: 54px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
/*# sourceMappingURL=main.css.map */