/*--CUSTOMERS--*/
.customers__list {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;


&-item {
    fill: var(--fill-color);
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: var(--main-color);
            border: 1px solid var(--main-color);
        }
}

&-icon {
    width: 106px;
    height: 60.04px;
    margin: 16px 32px;
}
}

/*--END--CUSTOMERS--*/