/*--FOOTER--*/
.footer {
    background: var(--graphite-color);

    & .container {
    display: flex;
    align-items: center;
}
&__mailto,
&__phone-number,
&__address-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
}

.footer__left {
    margin-right: 70px;
}

.navigation__logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-top: 60px;
}

.footer__address-list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-top: 20px;
    margin-bottom: 9px;
        &-item:not(:last-child) {
    margin-bottom: 9px;
        }
    }






/*--FOOTER-RIGHT--*/
.footer__links{

&-title {
    font-weight: bold;
    font-size: 14px;
    color: var(--white-color);
}

 &-item-svg {
    display: block;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    &-item-svg:hover,
    &-item-svg:focus {
        fill: var(--white-color);
        background-color: var(--main-color);
}
}

.footer__links {
    width: 206px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;

&-icon {
    width: 20px;
    height: 20px;
}
}

/*-- NEWSLETTER--*/
.footer__newsletter {
    margin-left: 78px;


&-h4 {
    margin-top: -10px;
    position: absolute;
    width: 207px;
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1, 142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    fill: var(--white-color);
}

&-Label {
    display: flex;
    margin-bottom: 8px;
    margin-top: 20px;
}

&-Window {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color);
    padding-left: 16px;
    border-color: var(--main-color);
}

&-modal-bnt {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--white-color);
    font-family: var(--font-family);
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

&-Icon {
    margin-left: 24px;
    width: 24px;
    height: 24px;
}
}


input,
textarea {
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    resize: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


/*--END-FOOTER--*/