.header {
  border-bottom: 1px solid $very-light-gray;
}

.address__iconEnvelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.address__iconSmartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.address {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 46px;
  }
}

.navigation__link {
  position: relative;
  font-weight: $light;
  font-size: $font14;
  line-height: 1.143;
  letter-spacing: $letter02;
  color: $primary;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 45px;
    right: 0;
    width: 0;
    height: 4px;
    background-color: $accent;
    border-radius: $border2;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    width: 100%;
    background-color: $accent;
  }
}

.footer-mail,
.footer-phone-number {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent;
  }
}

.navigation__link-active {
  width: 100%;
  color: $accent;

  &::after {
    content: "";
    width: 53px;
    height: 4px;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: $accent;
    border-radius: $border2;
  }
}

.address {
  font-style: normal;
  color: $secondary;
  font-weight: $light;
  font-size: $font14;
  line-height: 1.143;
  letter-spacing: $letter02;
}

.address__mail,
.address__phoneNumber {
  color: $secondary;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent;
    fill: $accent;
  }
}

@media (min-width: 468px) {
  .navigation__list {
    display: none;
  }
  .address {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__list {
    display: flex;
  }
  .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hamburger {
    display: none;
  }
  .navigation__link-active::after {
    top: 35px;
  }
  .navigation__link::after {
    top: 35px;
  }
}

@media (min-width: 1200px) {
  .navigation__list {
    display: flex;
  }
  .address {
    display: flex;
  }

  .header .address {
    margin-left: auto;

    .hamburger {
      display: none;
    }

    .address__mail {
      margin-right: 50px;
    }
  }
}
