.contac__mail:hover,
.contac__mail:focus,
.contac__phone-number:hover,
.contac__phone-number:focus,
.navigatio__list-link:hover,
.navigatio__list-link:focus,
.foote__phone-number:hover,
.foote__phone-number:focus,
.foote__mailto:hover,
.foote__mailto:focus,
.foote__address:hover,
.foote__address:focus,
.navigatio__list-link:focus,
.navigatio__list-link:hover {
  color: var(--main-color);
}

.secondary__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--family-color);
}

.third__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-family);
}
