.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.footer-phone-number:hover,
.footer-phone-number:focus,
.footer-mailto:hover,
.footer-mailto:focus,
.footer-address:hover,
.footer-address:focus,
.navigation-list-link:focus,
.navigation-list-link:hover {
  color: var(--main-color);
}

.secondary-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--family-color);
}

.third-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-family);
}
