.staff__socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.staff__socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;

  &:hover,
  &:focus {
    fill: var(--white-color);
    background-color: var(--main-color);
  }
}

.staff__socialIcon {
  width: 20px;
  height: 20px;
}

.staff__socialLink {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socialList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--main-color);
  }
}

.footer__socialIcon {
  width: 20px;
  height: 20px;
}

.footer__socialItem {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
