.staff__socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.staff__socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: $white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: $light-gray;

  &:hover,
  &:focus {
    fill: $white;
    background-color: $accent;
  }
}

.staff__socialIcon {
  width: 20px;
  height: 20px;
}

.staff__socialLink {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socialList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socialLink {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: $white01;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: $white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $white;
    background-color: $accent;
  }
}

.footer__socialIcon {
  width: 20px;
  height: 20px;
}

.footer__socialItem {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
