.third-header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: $medium;
  font-size: $font16;
  line-height: 1.187;
  letter-spacing: $letter03;
  text-align: center;
}

.project__third-header {
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;  
  font-style: normal;
  font-weight: bold;
  font-size: $font18;
  line-height: 2;
  letter-spacing: $letter06;
}