:root {
  --font-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: $primary;
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
}

input,
textarea {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  resize: none;
  font-size: $font12;
  line-height: 14px;
  letter-spacing: $letter01;
  color: $secondary;
}

input {
  padding: 0;
  .modal__div & {
    padding-left: 42px;
  }
}
