.portfolio {
  padding-top: 94px;
}

.portfolio__list {
  display: flex;
}

.portfolio__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}


@media (min-width:468px){
  .portfolio{
    padding-top: 60px;

   &__list{
     flex-wrap: wrap;
    //  justify-content: center;
  }
    &__item{
    margin-bottom: 15px;
    }
}
  }
  
  @media (min-width: 786px){
    .portfolio__list{
      justify-content: center;
    }
  }

@media (min-width:1200px){
  .portfolio__list{
    align-items: center; 
  }
}