// .advantages__Loremh4 {
//   font-style: normal;
//   font-weight: bold;
//   font-size: $font14;
//   line-height: 1.43;
//   letter-spacing: $letter03;
//   text-transform: uppercase;
//   left: 215px;
//   top: 774px;
// }

// .advantages__Loremp {
//   font-style: normal;
//   font-weight: normal;
//   font-size: $font14;
//   line-height: 1.714;
//   letter-spacing: $letter03;
//   color: $secondary;
// }

// .advantages__Loremlist {
//   display: flex;
//   align-items: center;
// }

// .advantages {
//   padding-top: 94px;
//   margin: 0;
// }
// .advantages__Loremitem{
//   top: 774px;

//   &:not(:last-child) {
//     margin-right: 30px;
//     top: 93px;
//   }
// }

// .advantages__list {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 30px;
// }

// .advantages_link {
//   fill: $light-gray;
// }

// .advantages__icon {
//   width: 270px;
//   height: 120px;
//   margin-bottom: 30px;
// }

.advantages__link {
  display: flex;
  justify-content: center;
}

.advantages__icon {
  width: 100%;
  padding: 0 0;
  height: 120px;
  background-color: $light-very;
  border-radius: $border4;
}

.advantages__Loremh4 {
  font-style: normal;
  font-weight: $medium;
  font-size: $font14;
  line-height: 1.43;
  letter-spacing: $letter03;
  padding-bottom: 10px;
}

.advantages {
  margin-top: 60px;
}

.advantages__Loremp {
  font-weight: normal;
  font-size: $font14;
  line-height: 1.714;
  letter-spacing: $letter03;
  color: $secondary;
  margin: 0 0;
  padding-bottom: 30px;
  text-align: left;
}

@media screen and (min-width: 468px) and (max-width: 768px) {
  .advantages__Loremh4 {
    padding-top: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    &__Loremitem {
      margin-bottom: 0px;
      width: 354px;
    }

    &__Loremlist {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    &__Loremh4 {
      padding-top: 30px;
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  .advantages__Loremh4 {
    font-style: normal;
    font-weight: bold;
    font-size: $font16;
    line-height: 1.43;
    letter-spacing: $letter03;
    text-transform: uppercase;
    // left: 215px;
  }

  .advantages__Loremp {
    font-style: normal;
    font-weight: normal;
    font-size: $font14;
    line-height: 1.714;
    letter-spacing: $letter03;
    color: $secondary;
  }

  .advantages__Loremlist {
    display: flex;
    align-items: center;
  }

  .advantages {
    padding-top: 94px;
    margin: 0;
  }
  .advantages__Loremitem {
    top: 774px;

    &:not(:last-child) {
      margin-right: 30px;
      // top: 93px;
    }
  }

  .advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .advantages_link {
    fill: $light-gray;
  }

  .advantages__icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
}
