@media (min-width: 468px) and (max-width: 1199px) {
  .WhatWeDo {
    display: none;
  }
}

.WhatWeDo .secondary-header {
  margin-bottom: 50px;
  margin-top: 0;
}

.WhatWeDo__list {
  display: flex;
  justify-content: space-between;
}

.WhatWeDo__item {
  position: relative;
}

.WhatWeDo__h4 {
  position: absolute;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: $font14;
  line-height: 16px;
  text-align: center;
  letter-spacing: $letter03;
  text-transform: uppercase;
  color: $white;
  width: 370px;
  height: 70px;
  background: $dark;
}
