.staff__p {
  text-align: center;
  color: $secondary;
  margin: 10px 0;
}

.staff {
  background-color: $light-very;
  font-weight: normal;
  font-size: $font16;
  line-height: 1.187;
  text-align: center;
  letter-spacing: $letter03;
}

.staff__img {
  width: 100%;
  height: auto;
}

.staff__item {
  background: $white;

  box-shadow: 0px 1px 3px $black012, 0px 1px 1px $black014, 0px 2px 1px $black02;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 468px) and (max-width: 767px) {
  .staff__item:not(:last-child) {
    margin: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .staff {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }

    &__item {
      max-width: 354px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .staff__img {
    width: 270px;
    height: auto;
  }
}
